html, body, header {
  background-color: #FFFFFF;
}

header {
  .ant-menu {
    margin-left: 10vw;
    border: none;
    width: 64vw;
    height: 10vh;

    .ant-menu-item {
      color: #666699;
      margin-left: 34px;
      font-size: 12pt;
      display: flex;
      align-items: center;
      user-select: none;

      &.ant-menu-item-selected,
      &:hover {
        color: #29293d;
        border-bottom: none !important;
        border-bottom-color: transparent !important;
        cursor: pointer;

        &::after {
          border-bottom: none !important;
          border-bottom-color: transparent !important;
        }
      }
    }
  }
}
