.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

header {
    .ant-menu {
        margin-left: 10%;
        border: unset;

        .ant-menu-item {
            color: #666699;
            padding: 0 40px;
        }

        .ant-menu-item-selected {
            background-color: transparent !important;
            color: inherit !important;
            font-weight: normal !important;

            &::after {
                border-bottom-width: unset !important;
                border-bottom-color: transparent !important;
            }
        }

        /* 覆盖hover状态下的背景色 */

        .ant-menu-item:hover {
            background-color: transparent !important;
            border-bottom-width: unset !important;
            color: #29293d;

            &::after {
                border-bottom-width: unset !important;
                border-bottom-color: transparent !important;
            }
        }
    }

}


.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
